#board {
    background: #a0a0a0;
    height: 800px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/* Card style rules */

.cardwrapper {
    height: 100px;
    width: 108px;
    background: #000000;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    height: 90px;
    width: 108px;
    background: #ffffff;
    margin: 5px 5px 0px 0px;
    text-align: center;
    letter-spacing: normal;
}

.tallcardwrapper {
    height: 100px;
    width: 80px;
    background: #000000;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tallcard {
    height: 90px;
    width: 70px;
    background: #ffffff;
    margin: 5px 5px 5px 5px;
    text-align: center;
    letter-spacing: normal;
}

.cardrow {
    text-align: center;
    white-space: nowrap;
}

/* Style rules for the top row: the card stacks */

#top {
    background: #ff0000;
    height: 300px;
}
#cardstacks {
    background: #006600;
    letter-spacing: 30px;
}
#basic_cards {
    background: #f600f6;
    width: 50%;
    float: left;
}
#victory_cards {
    background: #00f6f6;
    height: 100px;
    border: 1px;
}
#treasure_cards {
    background: #f0f0f0;
    height: 100px;
    border: 1px;
}
#curse_and_trash {
    background: #060606;
    height: 100px;
    border: 1px;
}
#kingdom_cards {
    background: #00aa00;
    width: 50%;
    float: left;
}
#kingdom_row1 {
    background: #f0f000;
    height: 100px;
    border: 1px;
}
#kingdom_row2 {
    background: #ff00f0;
    height: 100px;
    border: 1px;
}
#kingdom_row3 {
    background: #00ffb0;
    height: 100px;
    border: 1px;
}

/* Style rules for the middle row: play area and other player info */

#middle {
    background: #0000ff;
    height: 330px;
}
#play_area {
    background: #aa5500;
    float: left;
    width: 60%;
}
#turn_info {
    background: #00aa55;
    height: 40px;
    text-align: center;
}
#turn_info p {
    margin: 0px;
}
#cards_in_play {
    background: #aa0055;
    height: 250px;
}
#actions {
    background: #55aa00;
    float: left;
    height: 290px;
    width: 38%;
}
#treasures {
    background: #0055aa;
    float: left;
    height: 290px;
    width: 38%;
}
#bought {
    background: #0a5f33;
    float: left;
    height: 290px;
    width: 24%;
}
.in_play_title {
    text-align: center;
    font-weight: bold;
    background: #bb00ff;
    height: 20px;
}
.cards_in_play {
    overflow: auto;
    height: 270px;
}


#other_players {
    background: #f32a4d;
    width: 40%;
    float: left;
}
#other_player1 {
    background: #048910;
    height: 110px;
}
#other_player2 {
    background: #abcd00;
    height: 110px;
}
#other_player3 {
    background: #f6f6f6;
    height: 110px;
}

.playercardwrapper {
    letter-spacing: 8px;
    /* Not sure why this needs to be so big, but that's what works */
    margin-left: 125px;
}
.player_info {
    height: 100px;
    width: 110px;
    background: #ffffff;
    float: left;
    text-align: center;
    margin: 5px;
}

/* Style rules for the bottom row: player hand and deck */

#bottom {
    background: #00ff00;
    height: 170px;
}
#deck {
    background: #ff0000;
    float: left;
    width: 120px;
    height: 100%;
}
#deckwrapper {
    height: 120px;
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#deckwrapper .tallcardwrapper {
    margin-top: 0px;
    margin-bottom: 0px;
}
#discard {
    background: #0000ff;
    float: left;
    width: 120px;
    height: 100%;
}
#discardwrapper {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#discardwrapper .tallcardwrapper {
    margin-top: 0px;
    margin-bottom: 0px;
}
#hand {
    background: #ffff00;
    float: left;
    height: 100%;
    width: 760px;
    overflow: auto;
}
#handwrapper {
    height: 80px;
    margin-top: 45px;
    margin-left: 40px;
    letter-spacing: 8px;
}




