<!doctype html>
<html>
  <head>
    <title>Dominion</title>

    <link rel="stylesheet" title="default" href="/media/style.css"
        type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"
        type="text/javascript"></script>
    <script src="/media/json.js"></script>
    <script src="/media/sockets.js"></script>
    <script src="http://cdn.socket.io/stable/socket.io.js"></script>

{% block script_config %}
<script charset="utf-8" type="text/javascript">
    $.fn.game_config = function() {};
    $.fn.game_config.game = {{ game.id }};
    $.fn.game_config.player_num = {{ player.player_num }};
    $.fn.socket_config = function() {};
    $.fn.socket_config.port = {{ request.environ.SERVER_PORT|default:"9000" }};
</script>
{% endblock %}

  </head>
  <body>

    <div id="board">
      <div id="top">
        <div id="cardstacks">
          <div id="basic_cards">
            <div id="victory_cards" class="cardrow">
              <div class="cardwrapper">
                <div class="card" id="Estate">
                  <span class="cardname">Estate</span>
                  <span class="left"></span>
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card" id="Duchy">
                  <span class="cardname">Duchy</span>
                  <span class="left"></span>
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card" id="Province">
                  <span class="cardname">Province</span>
                  <span class="left"></span>
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card" id="Colony">
                  <span class="cardname">Colony</span>
                  <span class="left"></span>
                </div>
              </div>
            </div>
            <div id="treasure_cards" class="cardrow">
              <div class="cardwrapper">
                <div class="card" id="Copper">
                  <span class="cardname">Copper</span>
                  <span class="left"></span>
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card" id="Silver">
                  <span class="cardname">Silver</span>
                  <span class="left"></span>
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card" id="Gold">
                  <span class="cardname">Gold</span>
                  <span class="left"></span>
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card" id="Platinum">
                  <span class="cardname">Platinum</span>
                  <span class="left"></span>
                </div>
              </div>
            </div>
            <div id="curse_and_trash" class="cardrow">
              <div class="cardwrapper">
                <div class="card" id="Curse">
                  <span class="cardname">Curse</span>
                  <span class="left"></span>
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card" id="Trash">
                  <img src="/media/images/Festival-short.jpg" width="108"
                  height="90">
                </div>
              </div>
            </div>
          </div>
          <div id="kingdom_cards">
            <div id="kingdom_row1" class="cardrow">
              <div class="cardwrapper">
                <div class="card" id="kcard1">
                  <img src="/media/images/Festival-short.jpg" width="108"
                  height="90">
                  <span class="cardname"></span>
                  <span class="left"></span>
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card" id="kcard2">
                  <img src="/media/images/Festival-short.jpg" width="108"
                  height="90">
                  <span class="cardname"></span>
                  <span class="left"></span>
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card" id="kcard3">
                  <img src="/media/images/Festival-short.jpg" width="108"
                  height="90">
                  <span class="cardname"></span>
                  <span class="left"></span>
                </div>
              </div>
            </div>
            <div id="kingdom_row2" class="cardrow">
              <div class="cardwrapper">
                <div class="card" id="kcard4">
                  <img src="/media/images/Festival-short.jpg" width="108"
                  height="90">
                  <span class="cardname"></span>
                  <span class="left"></span>
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card" id="kcard5">
                  <img src="/media/images/Festival-short.jpg" width="108"
                  height="90">
                  <span class="cardname"></span>
                  <span class="left"></span>
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card" id="kcard6">
                  <img src="/media/images/Festival-short.jpg" width="108"
                  height="90">
                  <span class="cardname"></span>
                  <span class="left"></span>
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card" id="kcard7">
                  <img src="/media/images/Festival-short.jpg" width="108"
                  height="90">
                  <span class="cardname"></span>
                  <span class="left"></span>
                </div>
              </div>
            </div>
            <div id="kingdom_row3" class="cardrow">
              <div class="cardwrapper">
                <div class="card" id="kcard8">
                  <img src="/media/images/Festival-short.jpg" width="108"
                  height="90">
                  <span class="cardname"></span>
                  <span class="left"></span>
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card" id="kcard9">
                  <img src="/media/images/Festival-short.jpg" width="108"
                  height="90">
                  <span class="cardname"></span>
                  <span class="left"></span>
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card" id="kcard10">
                  <img src="/media/images/Festival-short.jpg" width="108"
                  height="90">
                  <span class="cardname"></span>
                  <span class="left"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="middle">
        <div id="play_area">
          <div id="turn_info">
            <p>Matt's turn</p>
            <p>
            Actions: <span id="num_actions">1</span>
            Buys: <span id="num_buys">1</span>
            Coins: <span id="num_coins">0</span>
            </p>
          </div>
          <div id="cards_in_play">
            <div id="actions">
              <div id="action_title" class="in_play_title">
                Actions Played
              </div>
              <div id="actions_played" class="cards_in_play">
                <div class="cardrow">
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                </div>
                <div class="cardrow">
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                </div>
                <div class="cardrow">
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                </div>
                <div class="cardrow">
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                </div>
                <div class="cardrow">
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="treasures">
              <div id="treasure_title" class="in_play_title">
                Treasure Played
              </div>
              <div id="treasures_played" class="cards_in_play">
                <div class="cardrow">
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                </div>
                <div class="cardrow">
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                </div>
                <div class="cardrow">
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                </div>
                <div class="cardrow">
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                </div>
                <div class="cardrow">
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="bought">
              <div id="bought_title" class="in_play_title">
                Cards Bought
              </div>
              <div id="cards_bought" class="cards_in_play">
                <div class="cardrow">
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                </div>
                <div class="cardrow">
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                </div>
                <div class="cardrow">
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                </div>
                <div class="cardrow">
                  <div class="cardwrapper">
                    <div class="card">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="other_players">
          <div id="other_player1">
            <div class="player_info">
              Name
            </div>
            <div class="playercardwrapper" class="cardrow">
              <div class="tallcardwrapper">
                <div class="tallcard">
                </div>
              </div>
              <div class="tallcardwrapper">
                <div class="tallcard">
                </div>
              </div>
              <div class="tallcardwrapper">
                <div class="tallcard">
                </div>
              </div>
            </div>
          </div>
          <div id="other_player2">
            <div class="player_info">
              Name
            </div>
            <div class="playercardwrapper" class="cardrow">
              <div class="tallcardwrapper">
                <div class="tallcard">
                  Hand
                </div>
              </div>
              <div class="tallcardwrapper">
                <div class="tallcard">
                  Deck
                </div>
              </div>
              <div class="tallcardwrapper">
                <div class="tallcard">
                  Discard
                </div>
              </div>
            </div>
          </div>
          <div id="other_player3">
            <div class="player_info">
              Name
            </div>
            <div class="playercardwrapper" class="cardrow">
              <div class="tallcardwrapper">
                <div class="tallcard">
                  Hand
                </div>
              </div>
              <div class="tallcardwrapper">
                <div class="tallcard">
                  Deck
                </div>
              </div>
              <div class="tallcardwrapper">
                <div class="tallcard">
                  Discard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="bottom">
        <div id="deck">
          <div id="deckwrapper" class="cardrow">
            <div class="tallcardwrapper">
              <div class="tallcard">
                Deck
              </div>
            </div>
          </div>
        </div>
        <div id="discard">
          <div id="discardwrapper" class="cardrow">
            <div class="tallcardwrapper">
              <div class="tallcard">
                Discard
              </div>
            </div>
          </div>
        </div>
        <div id="hand">
          <div id="handwrapper" class="cardrow">
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
