<!doctype html>
<html>
  <head>
    <title>socket.io client test</title>

    <link rel="stylesheet" title="default" href="/media/style.css"
        type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"
        type="text/javascript"></script>
    <script src="/media/json.js"></script>
    <script src="/media/sockets.js"></script>
    <script src="http://cdn.socket.io/stable/socket.io.js"></script>

{% block script_config %}
<script charset="utf-8" type="text/javascript">
    $.fn.game_config = function() {};
    $.fn.game_config.game = {{ game }};
    $.fn.socket_config = function() {};
    $.fn.socket_config.port = {{ request.environ.SERVER_PORT|default:"9000" }};
</script>
{% endblock %}

  </head>
  <body>

    <div id="board">
      <div id="top">
        <div id="cardstacks">
          <div id="basic_cards">
            <div id="victory_cards">
              <div class="cardwrapper">
                <div class="card">
                  Estate
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card">
                  Duchy
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card">
                  Province
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card">
                  Colony
                </div>
              </div>
            </div>
            <div id="treasure_cards">
              <div class="cardwrapper">
                <div class="card">
                  Copper
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card">
                  Silver
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card">
                  Gold
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card">
                  Platinum
                </div>
              </div>
            </div>
            <div id="curse_and_trash">
              <div class="cardwrapper">
                <div class="card">
                  Curse
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card">
                  Trash
                </div>
              </div>
            </div>
          </div>
          <div id="kingdom_cards">
            <div id="kingdom_row1">
              <div class="cardwrapper">
                <div class="card">
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card">
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card">
                </div>
              </div>
            </div>
            <div id="kingdom_row2">
              <div class="cardwrapper">
                <div class="card">
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card">
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card">
                </div>
              </div>
            </div>
            <div id="kingdom_row3">
              <div class="cardwrapper">
                <div class="card">
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card">
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card">
                </div>
              </div>
              <div class="cardwrapper">
                <div class="card">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="middle">
        <div id="play_area">
          <div id="turn_info">
          </div>
          <div id="cards_in_play">
            <div id="actions">
            </div>
            <div id="treasures">
            </div>
            <div id="bought">
            </div>
          </div>
        </div>
        <div id="other_players">
          <div id="other_player1">
            <div class="player_info">
              Name
            </div>
            <div class="playercardwrapper">
              <div class="tallcardwrapper">
                <div class="tallcard">
                </div>
              </div>
              <div class="tallcardwrapper">
                <div class="tallcard">
                </div>
              </div>
              <div class="tallcardwrapper">
                <div class="tallcard">
                </div>
              </div>
            </div>
          </div>
          <div id="other_player2">
            <div class="player_info">
              Name
            </div>
            <div class="playercardwrapper">
              <div class="tallcardwrapper">
                <div class="tallcard">
                  Hand
                </div>
              </div>
              <div class="tallcardwrapper">
                <div class="tallcard">
                  Deck
                </div>
              </div>
              <div class="tallcardwrapper">
                <div class="tallcard">
                  Discard
                </div>
              </div>
            </div>
          </div>
          <div id="other_player3">
            <div class="player_info">
              Name
            </div>
            <div class="playercardwrapper">
              <div class="tallcardwrapper">
                <div class="tallcard">
                  Hand
                </div>
              </div>
              <div class="tallcardwrapper">
                <div class="tallcard">
                  Deck
                </div>
              </div>
              <div class="tallcardwrapper">
                <div class="tallcard">
                  Discard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="bottom">
        <div id="deck">
          <div id="deckwrapper">
            <div class="tallcardwrapper">
              <div class="tallcard">
                Deck
              </div>
            </div>
          </div>
        </div>
        <div id="discard">
          <div id="discardwrapper">
            <div class="tallcardwrapper">
              <div class="tallcard">
                Discard
              </div>
            </div>
          </div>
        </div>
        <div id="hand">
          <div id="handwrapper">
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
            <div class="cardwrapper">
              <div class="card">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
